body {
    background-color: rgb(13, 15, 110);
    color: white;
}

.nav {
    text-align: center;
    border: solid white 4px;
    border-radius: 20px;
    background-color: rgb(33, 228, 15);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.grill {
    display: flex;
    justify-content: center;
    padding: 50px;
    margin-bottom: 100px;
}

.img {
    height: auto;
    width: 200px;
    
}

.featured {
    text-align: center;
    background-color: rgb(33, 228, 15);
    border: solid white 4px;
    border-radius: 20px;
    color: white;
    width: 500px;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
* {
    border: 2px solid white;
}
/*