* {
    box-sizing: border-box;
    border: 2px solid red;
}


.content {
    background-color: red;
    padding: 30px;
    border-radius: 25px;
    color: white;
    
}

nav {
    background-color: aqua;
    border: 2px solid #000;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

nav h1 {
    font-size: 36px;
}

nav a {
    text-decoration: none;
    color: #000;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    display: block;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 8px;
}